snippet mod
  module ${1:Foo} exposing (${2:..})
	${0}
endsnippet

snippet imp
  import ${0:Html}
endsnippet

snippet impe
  import ${1:Html} exposing (${0:..})
endsnippet

snippet func
  ${1:foo}: ${2:Int}
  ${3:$1} = ${0:1}
endsnippet
